backend/node_modules
backend/config/.env

#frontend 
# Logs
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules
frontend/node_modules/

# Build output
frontend/dist/
frontend/dist-ssr/
frontend/coverage/

# Env files
frontend/*.local
frontend/.env*
frontend/.env.*.local

# Cypress (se usato)
frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
frontend/*.tsbuildinfo
